<section id="chat">
  <% if @messages.present? %>
  <ul>
  <% @messages.each do |message|%>
    <li>
      <%= message.sent.to_s :short %>: <%= message.body %>
    </li>
  <% end %>
  </ul>
</section>
<% end %>
<% form_for(@message, :url => chat_engine_messages_path, :method => :post) do |f| %>
  <p>
    <%= f.text_field :body %>
    <%= f.submit "Send", :disable_with => 'Sending...' %>
  </p>
<% end %>