.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
*.log
*.pid
spec/dummy/tmp/capybara/*
spec/dummy/coverage.data
spec/dummy/app/views/layouts/tweet_engine.html.erb
spec/dummy/public/img/
spec/dummy/public/stylesheets/wysiwyg.css
spec/dummy/public/stylesheets/styles.css
spec/dummy/public/stylesheets/layout.css
spec/dummy/public/javascripts/functions.js
spec/dummy/public/javascripts/jquery.ui.timepicker.js
spec/dummy/public/javascripts/jquery.wysiwyg.js
spec/dummy/public/javascripts/png_fix.js
spec/dummy/public/javascripts/visualize.jQuery.js
